# Terraform файлы
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
terraform.tfvars
  
# Логи и кэш
*.log
*.cache
  
# IDE файлы
.vscode/
.idea/
*.swp
*.swo
  
# OS файлы
.DS_Store
Thumbs.db
  
#  данные
*.key
*.pem
*.cert
*.secret
  
# Временные файлы
tmp/
temp/
  
# Пакеты и зависимости
vendor/
node_modules/
